<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<p>发送邮件</p>-->
<!--<form method="post" action={{ url_for('.add') }}>-->
<!--<input type="text" name="content" placeholder="content">-->
<!--<input type="text" name="title" placeholder="title">-->
<!--<input type="text" name="to" placeholder="to_id">-->
<!--<button type="submit">提交邮件</button>-->
<!--</form>-->

<!--<p>收到邮件</p>-->
<!--{% for r in receives%}-->
    <!--<div>-->
    <!--<a href = {{ url_for(".view", id=r.id) }} > {{ r.title }}</a>-->
    <!--</div>-->
<!--{% endfor %}-->
<!--<p>发送的邮件</p>-->
<!--{% for s in sends%}-->
    <!--<div>-->
    <!--<a href = {{ url_for(".view", id=s.id) }} > {{ s.title }}</a>-->
    <!--</div>-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>站内私信</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/lib/editor/editor.css">
    <link rel="stylesheet" href="/static/lib/webuploader/webuploader.css">
    <script src="/static/lib/jquery-3.0.0.min.js"></script>
    <script src="/static/lib/markdownit.js"></script>
    <script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
    <script src="/static/lib/editor/editor.js"></script>
    <script src="/static/lib/editor/ext.js"></script>
</head>
<body>
{% extends "base.html"%}
<div id="main">
    {% block sidebar %}
        <div id="sidebar">
            <div class="panel">
                <div class="header">
                    <span class="col_fade">个人信息</span>
                </div>
                <div class="inner">
                <div class="user_card">
                    <div>
                        <a class="user_avatar" href={{ url_for('user.detail', username=user().username) }}>
                        <img src={{ url_for('index.uploads', filename=user().user_image, v=3, s=120) }}>
                        </a>
                        <span class="user_name"><a class="dark" href={{ url_for('user.detail', username=user().username) }}>{{ user().username }}</a></span>

                        <div class="board clearfix">
                            <div class="floor">
                                <span class="big">积分: 0 </span>
                            </div>
                        </div>
                        <div class="space clearfix"></div>
                        <span class="signature">
                            1234
                        </span>
                    </div>
                </div>
            </div>
            </div>
            <div class="panel">
                    <div class="inner">
                        <a href={{ url_for('mail.setting', username=user().username)}} class="create_topic_btn">
                            <span class="span-success">发布私信</span>
                        </a>
                    </div>
                </div>
        </div>

    {% endblock %}

    {% block content %}
    <div id="content">
        <div class="panel">
            <div class="header">
                <ul class="breadcrumb">
                    <li><a href={{ url_for('topic.index') }}>主页</a><span class="divider">/</span></li>
                    <li class="active">收到私信</li>
                </ul>
            </div>

            <div class="inner">
                {% for r in receives %}
                <div>
                    <a href = {{ url_for("mail.view", id = r.id) }} > {{ r.sender_name }} : {{ r.title }}</a>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="panel">
            <div class="header">
                <span class="col_fade">发送的私信</span>
            </div>

            <div class="inner">
                {% for s in sends%}
                <div>
                    <a href = {{ url_for(".view", id = s.id) }} > {{ s.sender_name }} : {{ s.title }}</a>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    {% endblock %}
</div>
</body>>
</html>>